* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Inter', Arial, Helvetica, sans-serif;

}

html {
	scroll-behavior: smooth;
}

p {
	line-height: 1.5;
}

body {
	background-color: #111;
	color: #fff;
}


.section {

	max-width: 80rem;
	margin: 15vh auto;
}

.section__title {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.section__text {
	margin-bottom: 1rem;
	max-width: 40rem;
	font-size: 1.15rem;
	color: #999;
}

.hint {
	color: #999;
	font-size: 1.1rem;
	margin-top: 1rem;
}