* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Inter', Arial, Helvetica, sans-serif;

}

html {
	scroll-behavior: smooth;
}

p {
	line-height: 1.5;
}

body {
	background-color: #111;
	color: #fff;
}


.section {

	max-width: 80rem;
	margin: 15vh auto;
}

.section__title {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.section__text {
	margin-bottom: 1rem;
	max-width: 40rem;
	font-size: 1.15rem;
	color: #999;
}

.hint {
	color: #999;
	font-size: 1.1rem;
	margin-top: 1rem;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 4px;
	background-color: #222;
}

*::-webkit-scrollbar-thumb {
	background-color: #7ed380;
}

.button {
	font-weight: bold;
	color: #9f9f9f;
	font-size: 1.25rem;
	text-decoration: none;
	padding: 1rem;
	border: 2px solid #222b22;
	text-transform: uppercase;
	border-radius: 0.25rem;

	background-color: #222;
	transition: color 0.5s, border-color 0.25s, background-color 0.5s;
}