$background: #111;

$primary: #62a563;
$primary-lighter: #7ed380;
$primary-darker: #335734;

$secondary: #0c9bdd;

$title: #ffffff;
$text: #999999;
$border-color: #333333;

$content-width: 80rem;

$screen-extra-small: 28rem;
$screen-small: 34rem;
$screen-mobile: 48rem;
$screen-tablet: 64rem;
$screen-desktop: 80rem;