---
import Layout from "@layouts/Layout.astro";
import About from "@sections/About.astro";
import Contact from "@sections/Contact.astro";
import Heading from "@sections/Heading.astro";
import Technology from "@sections/Technology.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/constants";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <Heading />
    <main class="main">
        <Contact />
        <hr />
        <About />
        <hr />
        <Technology />
    </main>
</Layout>
@/constants
