---
import { getCollection } from "astro:content";
import Project from "@components/Project.astro";
import Layout from "@layouts/Layout.astro";
import GitHub from "@components/icons/GitHub.astro";
import { SITE_TITLE } from "@/consts";

const PAGE_TITLE = "Projects | " + SITE_TITLE;
const PAGE_DESCRIPTION =
    "Check out a list of my projects. This list doesn't contain all my projects but it contains a decent chunk of the important ones.";

const projects = (await getCollection("projects")).sort(
    (a, b) => (a.data.priority ?? 99) - (b.data.priority ?? 99)
);
---

<Layout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
    <main class="main section--left">
        <h1 class="section__title">Projects</h1>
        <p class="section__text">
            Check out some of my projects below. For a full list of my projects
            check out my <b>GitHub</b>
        </p>

        <div class="section__actions">
            <a href="/" class="back button">Back</a>
            <a
                class="link button"
                href="https://github.com/jacobtread"
                rel="noreferrer noopener"
                target="_blank">
                <GitHub class="inline-icon" />
                GitHub
            </a>
        </div>

        <ul class="blocks blocks--span-first">
            {projects.map((project) => <Project {...project} />)}
        </ul>
    </main>
</Layout>
