---
import { getCollection } from "astro:content";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => (a.data.priority ?? 99) - (b.data.priority ?? 99)
);
---

<Layout
  title={"Projects | Jacobtread"}
  description={"List of some of my projects"}
>
  <main class="content">
    <h1 class="section__title">Projects</h1>
    <p class="section__text">Check out some of my projects below</p>

    <a href="/" class="back button">Back</a>

    <ul class="projects">
      {projects.map((project) => <Project {...project} />)}
    </ul>
  </main>
</Layout>

<style>
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
  }

  .back {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .content {
    max-width: 80rem;
    margin: 1rem auto;
  }
</style>
