---
// The current date for setting the copyright year
const today = new Date();
// Year for the copyright section
const year: number = today.getFullYear();
---

<footer class="footer">
    <div class="footer-wrapper">
        <p class="footer__brand">JR</p>
        <p class="footer__email">jacobtread@gmail.com</p>
        <p class="footer__copy">
            Copyright &copy; 2020 - {year} Jacob Read. All rights reserved.
        </p>
        <div class="nav">
            <a href="/" class="nav__link">Home</a>
            <a href="/blog" class="nav__link">Blog</a>
            <a href="/#contact" class="nav__link">Contact</a>
            <a href="/#about" class="nav__link">About</a>
            <a href="/#technology" class="nav__link">Technology</a>
            <a href="/projects" class="nav__link">Projects</a>
        </div>
    </div>
</footer>
<style lang="scss">
    @use "@styles/scheme.scss" as scheme;

    .footer {
        border-top: 1px solid scheme.$border-color;
        width: 100%;
        gap: 1.5rem;
        padding: 2rem;

        &__brand {
            font-size: 4rem;
            font-weight: bold;
        }

        &__email {
            color: scheme.$text;
        }

        &__copy {
            color: scheme.$primary-lighter;
            margin-top: 0.5rem;
        }
    }

    .footer-wrapper {
        max-width: scheme.$content-width;
        margin: 2rem auto;
    }

    .nav {
        margin-top: 0.5rem;

        &__link {
            color: scheme.$text;
            margin-right: 1rem;

            &:hover {
                color: #fff;
            }
        }
    }
</style>
