---
import RustCrab from "@components/icons/RustCrab.astro";
import GitHub from "@components/icons/GitHub.astro";
---

<section class="section about" id="about">
    <h2 class="section__title">About me</h2>
    <p class="section__text">
        Heres a little read so you can learn a bit about me.
    </p>
    <div class="blocks">
        <div class="block">
            <h3 class="block__title">History</h3>
            <p class="block__text">
                Born and raised in New Zealand, I've spent my entire life here.
                My fascination with programming began at the age of 11, and
                since then, I've devoted the majority of my time to learning and
                mastering various programming languages, frameworks, and tools.
                My initial exploration into programming took place during my
                days of Minecraft modding, which not only captured my interest
                but also motivated me to delve into the Java programming
                language and set me on the path to becoming a programmer.
            </p>
        </div>
        <div class="block">
            <h3 class="block__title">Interests</h3>
            <p class="block__text">
                I have a deep interest in exploring various programming-related
                topics, dedicating a significant portion of my educational
                journey to programming pathways. I particularly enjoy engaging
                with others' code through activities like reverse engineering
                and collaborative efforts such as Hackathons.
                <br />
                <br />
                Beyond programming, my interests extend to bodybuilding, where I
                adhere to a consistent exercise routine, always striving to achieve
                my goals and enhance personal growth.
            </p>
            <RustCrab class="crab" />
        </div>
        <div class="block block--span">
            <h3 class="block__title">Projects</h3>
            <p class="block__text">
                I've worked on many projects throughout the years, many of which
                are readily available on my Github. The majority of my GitHub
                projects are licensed under the MIT license.
                <br />
                <br />
                My projects come in all kinds of varieties in all different kinds
                of languages and frameworks. Feel free to take a Take a look around
                and see if any of them pique your interest.
            </p>
            <div class="block__row">
                <a href="/projects" class="block__button">View Projects</a>
                <a
                    href="https://github.com/jacobtread"
                    rel="noreferrer noopener"
                    target="_blank"
                    class="block__button">
                    <GitHub class="inline-icon" /> View GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .crab {
        width: 8rem;
        height: auto;
        position: absolute;

        top: 0;
        right: 0;
        transform: translate(30%, -50%) rotate(30deg);
    }

    @media screen and (max-width: 90rem) {
        .crab {
            display: none;
        }
    }
</style>
