---
import ContactItem from "@components/ContactItem.astro";
import Discord from "@components/icons/Discord.astro";
import GitHub from "@components/icons/GitHub.astro";
import LinkedIn from "@components/icons/LinkedIn.astro";
import Mail from "@components/icons/Mail.astro";
---

<section class="section" id="contact">
    <h2 class="section__title">Getting in touch</h2>
    <p class="section__text">
        Below are my Socials which you can connect with me on. Check out my
        <b>GitHub</b> to see all the projects that im currently working on.
    </p>

    <div class="blocks">
        <ContactItem
            link="https://github.com/jacobtread"
            title="Packed with side projects"
            name="GitHub"
            value="github.com/jacobtread"
            icon={GitHub}
        />

        <ContactItem
            link="https://www.linkedin.com/in/jacobtread"
            title="Where the professionals are"
            name="Linked in"
            value="www.linkedin.com/in/jacobtread"
            icon={LinkedIn}
        />

        <ContactItem
            link="mailto:jacobtread@gmail.com"
            title="The good-ol contact method"
            name="Email"
            value="jacobtread@gmail.com"
            icon={Mail}
        />

        <ContactItem
            link="https://discord.com/users/265320629203501056"
            title="Favorite chatting app"
            name="Discord"
            value="jacobtread"
            icon={Discord}
        />
    </div>

    <p class="hint">Keep reading to find out more about me 👀</p>
</section>

<style lang="scss">
    .hint {
        color: var(--text);
        font-size: 1.1rem;
        margin-top: 1rem;
    }
</style>
