---
import { Picture } from "astro:assets";

import backendLanguagesImage from "@assets/images/langb-small.png";
import frontendLanguagesImage from "@assets/images/langf-small.png";
import editorsImage from "@assets/images/editors-small-zed.png";
import frontendFrameworksImage from "@assets/images/framf-small.png";
---

<section class="section technology" id="technology">
    <h2 class="section__title">Technology</h2>
    <p class="section__text">
        Below is some of the frameworks, languages, and technology that I work
        with
    </p>
    <div class="blocks blocks--column">
        <div class="block">
            <div>
                <h3 class="block__title">Backend Languages</h3>
                <p class="block__text">
                    The large majority of my projects make use of the
                    <a class="external-link" href="https://rust-lang.org/">
                        Rust
                    </a> programming language, which I have been using since March
                    of 2022 and become quite proficient with. Rust continues to be
                    my go-to language for any backend project due to its reliability
                    and tooling.
                    <br />
                    <br />
                    I am also familiar with languages such as Java and Kotlin having
                    roughly 5 years experience programming with Java, 2 years with
                    Kotlin, and 3 years with PHP.
                </p>
            </div>
            <Picture
                src={backendLanguagesImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Backend Languages"
                width={170}
                height={153}
            />
        </div>

        <div class="block">
            <div>
                <h3 class="block__title">Frontend Languages</h3>
                <p class="block__text">
                    I am very well accustomed to popular frontend languages like
                    Javascript and Typescript with almost a decade of experience
                    using them both.
                    <br />
                    <br />
                    Also in my toolset are the other common frontend markup and languages
                    such as HTML, CSS, Markdown, and framework specific template languages
                </p>
            </div>
            <Picture
                src={frontendLanguagesImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Frontend Languages"
                width={170}
                height={150}
            />
        </div>

        <div class="block">
            <div>
                <h3 class="block__title">IDE & Editors</h3>
                <p class="block__text">
                    In the past I would reach for editors within the JetBrains
                    collection on my Java projects, but I have since opted for
                    lighter solutions like VSCode and Zed
                    <br />
                    <br />
                    These days my go to editor is the <a
                        class="external-link"
                        href="https://zed.dev/">Zed</a
                    > editor, I've moved away from my previous go-to editor VSCode
                    in favour of my new found favourite editor. I love the easy and
                    repeatable configuration Zed provides as well as its reliability
                    and with it being written in Rust it has allowed me to <a
                        class="external-link"
                        href="https://github.com/zed-industries/zed/pulls?q=is%3Apr+author%3Ajacobtread+is%3Amerged+">
                        Contribute
                    </a> to it myself.
                </p>
            </div>
            <Picture
                src={editorsImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="IDE & Editors"
                width={247}
                height={153}
            />
        </div>
        <div class="block">
            <div>
                <h3 class="block__title">Frontend Frameworks & Tooling</h3>
                <p class="block__text">
                    I am quite familiar with a number of front-end frameworks,
                    my favorite of which is Svelte. I have a few other assorted
                    frameworks mixed in throughout my projects but Svelte,
                    React, and Astro tend to be the ones I rely on the most.
                    <br />
                    <br />
                    I also have experience in frameworks such as React from my educational
                    pathway. I am quick to adapt to using new and old technologies
                    based on the needs of the project at hand.
                </p>
            </div>
            <Picture
                src={frontendFrameworksImage}
                formats={["avif", "webp"]}
                class="block__img"
                alt="Frontend Frameworks & Tooling"
                width={170}
                height={112}
            />
        </div>
    </div>
</section>

<style lang="scss">
    .blocks {
        display: flex;
        flex-flow: column;
    }

    .block {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        gap: 1rem;

        &__text {
            max-width: 50rem;
        }
    }

    @media screen and (max-width: 48rem) {
        .block {
            flex-flow: column-reverse;
            justify-content: center;
        }

        .block__img {
            margin: 0 auto 1rem;
        }
    }
</style>
